@font-face {
  font-family: 'roboto-mono';
  font-weight: 400;
  src: local('RobotoMono'), url(./fonts/Roboto_Mono/RobotoMono-VariableFont_wght.ttf);
}

@font-face {
  font-family: 'oswald';
  font-weight: 400;
  src: local('Oswald'), url(./fonts/Oswald/Oswald-VariableFont_wght.ttf);
}

body {
  margin: 0;
  font-family: 'roboto-mono', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-family: 'oswald';
  font-weight: 400;
}

input {
  font-family: 'roboto-mono', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}